/* Dashboard.css */

  
.dashboard {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dialog {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .dashboard-layout {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin: 10px;
    background-color: var(--background-shade-400);
    border-radius: 10px;
  }
  .dialog p {
    margin-bottom: 20px;
  }
  
  .dialog button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dialog button:hover {
    background-color: #0056b3;
  }
  
  .data-table {
    width: 100%;
    border: none;
    background-color: var(--background-shade-400);
    border-radius: 8px;
  }
  
  .data-table th{
    border-top: 1px solid var(--background-shade-700);
    /* border-bottom: 1px solid var(--background-shade-700); */
    padding: 15px;
  }
  .data-table td {
    padding: 25px;
    text-align: center;
    color: white;
    border-top: 1px solid var(--background-shade-700);
  }
  
  .data-table th {
    background-color: var(--background-shade-400);
    color: var(--background-shade-700);
    font-weight: 700;
    font-size: 20px;
  }

  
  .data-table tbody tr {
    background-color: var(--background-shade-400);
  }
  
  /* .data-table tbody tr:hover {
    background-color: #ddd;
    color:var(--background-shade-400)
  } */
  

  
  
  

  /* Add these classes to your existing Dashboard.css */

/* Default style for the status cell */
.status-pending {
color: rgb(126, 126, 14);  }
  
  .status-checked-in {
    color:green;
  }
  
   